<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://amzn.to/2Mq3eyl">Amazon</a></li>
            <li><a target="blank" href="https://facebook.com/wenli.yang.9822">Facebook</a></li>
            <li><a target="blank" href="https://twitter.com/EndreView">Twitter</a></li>
            <li><a target="blank" href="https://www.instagram.com/endreview/">Instagram</a></li>
            <li><a target="blank" href="https://www.endreview.com/about">About</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://amzn.to/2Mq3eyl" title="This is a Recommended section."><img src="https://images-na.ssl-images-amazon.com/images/I/31UX2zvcjYL._SL250_.jpg" alt="This is a Recommended section." /></a>
        </div>
            
</div>