<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://www.endreview.com/">Amazon</a></li>
            <li><a target="blank" href="https://www.endreview.com/">Facebook</a></li>
            <li><a target="blank" href="https://www.endreview.com/">Twitter</a></li>
            <li><a target="blank" href="https://www.endreview.com/">Instagram</a></li>
            <li><a target="blank" href="https://www.endreview.com/">About</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://??/" title="This is a Recommended section."><img src="https://???.png" alt="This is a Recommended section." /></a>
        </div>
            
</div>